<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

        <ng-container matColumnDef="taskName">
            <th mat-header-cell *matHeaderCellDef> Название задачи </th>
            <td mat-cell *matCellDef="let element">
                <input matInput formControlName="taskName">
            </td>
        </ng-container>

        <ng-container matColumnDef="executors">
            <th mat-header-cell *matHeaderCellDef> Исполнители </th>
            <td mat-cell *matCellDef="let element">
                <input matInput formControlName="executors">
            </td>
        </ng-container>

        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Начало выполнения </th>
            <td mat-cell *matCellDef="let element">
                <input matInput="datetime-local" formControlName="start" [value]="" [matDatepicker]="picker"
                    [min]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </td>
        </ng-container>

        <ng-container matColumnDef="deadline">
            <th mat-header-cell *matHeaderCellDef> Срок выполнения </th>
            <td mat-cell *matCellDef="let element">
                <input matInput="datetime-local" formControlName="deadline" [value]="" [matDatepicker]="picker"
                    [min]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Статус </th>
            <td mat-cell *matCellDef="let element">
                <mat-select formControlName="status">
                    @for (status of statuses.value; track status ) {
                    <mat-option [value]="status">
                        {{status}}
                    </mat-option>
                    }
                </mat-select>
            </td>
        </ng-container>

        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Приоритет </th>
            <td mat-cell *matCellDef="let element">
                <mat-select formControlName="priority">
                    @for (priority of priorities.value; track priority) {
                    <mat-option [value]="priority">
                        {{priority}}
                    </mat-option>
                    }
                </mat-select>
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button>Создать задачу</button>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</form>
<button mat-button color="primary" (click)="onSubmit()">Создать задачу</button>