<section>
    <mat-form-field appearance="fill">
        <mat-label>Search executor</mat-label>
        <input matInput placeholder="please enter a value" (input)="applyWorldFilter($event)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Дата</mat-label>
        <mat-date-range-input [formGroup]="datePicker" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Начальная дата">
            <input matEndDate formControlName="deadline" placeholder="Конечная дата" (dateChange)="applyDateFilter()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Search status</mat-label>
        <mat-select [(value)]="filters[2].defaultValue" (selectionChange)="applyDiscretFilter($event)">
            @for (option of filters[2].options; track option ) {
            <!-- TODO -->
            <mat-option [value]="option">
                {{option}}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]=" dataSource" class="mat-elevation-z8" matSort #tasksTable="matSort">

        <ng-container matColumnDef="taskName">
            <th mat-header-cell *matHeaderCellDef> Название задачи</th>
            <td mat-cell *matCellDef="let element">
                @if(!load){
                {{element.taskName}}
                }@else {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="executors">

            <th mat-header-cell *matHeaderCellDef mat-sort-header> Исполнители </th>
            <td mat-cell *matCellDef="let element">
                @if(!load){
                {{element.executors}}
                }@else {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="deadline">

            <th mat-header-cell *matHeaderCellDef mat-sort-header> Срок выполнения </th>
            <td mat-cell *matCellDef="let element">
                @if(!load){
                {{ element.deadline | date:'dd-MM-yyyy' }}
                }@else {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="status">

            <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
            <td mat-cell *matCellDef="let element">
                @if(!load){
                <mat-checkbox class="example-margin" [(ngModel)]="element.status" disabled="">
                </mat-checkbox>
                }@else {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Приоритет </th>
            <td mat-cell *matCellDef="let element">
                @if(!load){
                {{element.priority}}
                }@else {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>