<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Task-tracker</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>

<!-- TODO доделать меню -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>Добавить задачу</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-button-toggle-group name="tasks" aria-label="Font Style" value="{{buttonGroupValue}}">
    <mat-button-toggle value="/details" [routerLink]="['/details']">Задача</mat-button-toggle>
    <mat-button-toggle value="/edit" [routerLink]="['/edit']">На выполнение</mat-button-toggle>
    <mat-button-toggle value="/analitics" [routerLink]="['/analitics']">Все задачи</mat-button-toggle>
</mat-button-toggle-group>

<!-- TODO Перенести сюда фильтры, сделать отображение на маршруте analitics -->

<router-outlet></router-outlet>